<!-- ---
import Icon from '../Icon.astro';

interface Props {
	skills: { title: string; description: string }[];
}

const { skills } = Astro.props;
---

<section class="box skills">
	<slot name="heading">
		<h2>Skills</h2>
	</slot>
	<div class="skills-grid">
		{skills.map((skill, index) => (
			<div class="skill-item">
				<slot name={`icon-${index}`}>
					{index === 0 && <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />}
					{index === 1 && <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />}
					{index === 2 && <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />}
				</slot>
				<h3>{skill.title}</h3>
				<p>{skill.description}</p>
			</div>
		))}
	</div>
</section>

// Example Usage
<script>
    // <Skills
    //     skills={[
    //         { title: "Full Stack", description: "Building end-to-end applications." },
    //         { title: "Industry Leader", description: "Contributed to open source & mentoring." },
    //         { title: "Strategic Thinking", description: "System architecture & planning." }
    //     ]}
    // />
</script> -->